<!DOCTYPE html>
html(lang="en")
  head
    title Frontend template
    link(rel="stylesheet", href="css/main.css")
  body
  include ./includes/main.jade
  include ./includes/sidebar.jade

  script(src="js/bundle.js")
